version: "3"

networks:
  laravel:

services:
  # nginx:
  #   image: nginx:stable-alpine
  #   container_name: "nginx"
  #   ports:
  #     - 808:80
  #   volumes:
  #     - ./src:/var/www/html
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  #   depends_on:
  #     - php
  #     - mysql
  #   networks:
  #     - laravel

  mysql:
    image: mariadb:10.5.5
    container_name: "mysql"
    restart: unless-stopped
    tty: true
    ports:
      - 3306:3306
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - laravel

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "php"
    links:
      - mysql
    volumes:
      - ./src:/var/www/html
      - ./conf/apache.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - 8088:80
    networks:
      - laravel
